h1 {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 30px;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
}

button:hover {
    background-color: green;
}